  /* Stilizimi për ekranet më të mëdha (desktop) */
  body {
    font-family: Arial, sans-serif;
    background-color: lightgray;
}

h1 {
    text-align: center;
    color: #3498db;
}

.container {
    width: 80%;
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Media query për ekranet më të vogla se 768px (tableta dhe celularë) */
@media (max-width: 768px) {
    .container {
        width: 95%;
    }

    h1 {
        font-size: 24px;
    }
}

/* Media query për ekranet më të vogla se 600px (celularë) */
@media (max-width: 600px) {
    body {
        background-color: lightblue;
    }

    .container {
        padding: 10px;
    }

    h1 {
        font-size: 20px;
        color: #2ecc71;
    }
}